# Operating System Files

*.DS_Store
Thumbs.db
tmp

# Build Files #

bin
target
build/
.gradle
.travis.yml

# Eclipse Project Files #

.classpath
.project
.settings

# IntelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea

# Spring Bootstrap artifacts

dependency-reduced-pom.xml
out
README.html
